/* *************************** */
/* BELOW 1344px (Smaller desktops) */
/* *************************** */

@media (max-width: 84em) {
  html {
    /* 9px / 16px */
    font-size: 56.25%;
  }
  /* index page */

  .sign-in-header {
    margin-bottom: 3rem;
    font-size: 1.8rem;
  }

  .title.primary-heading {
    font-size: 7.4rem;
    height: 10rem;
  }

  .sign-in-container {
    margin-bottom: 2rem;
  }

  .sign-in-form-box {
    /* justify-content: start; */
    padding: 4rem 2rem;
  }

  .sign-in-form {
    padding: 1rem 0;
  }

  .sign-in-input {
    height: 4rem;
  }

  .google {
    font-size: 1.2rem;
  }

  /* SIGN UP PAGE */
  .sign-up-input {
    height: 4rem;
  }
  .sign-up-form-box {
    justify-content: start;
  }

  /* HOME PAGE */
  .hero {
    padding: 0 2.2rem;
    grid-template-columns: 2fr 1.5fr;
    gap: 0;
  }
  .section-career {
    /* padding: 4.8rem 3.6rem; */

    padding: 4.8rem 4rem 10rem 4rem;
  }
  .career {
    font-size: 2.2rem;
  }
  .career-box {
    font-size: 1.8rem;
    /* padding: 0 4rem; */
  }

  .career-icons {
    margin-bottom: 0;
  }

  .few-courses {
    padding: 3.6rem 4rem;
  }

  /* ALL COURSES PAGE */
  .section-carousel {
    padding: 0 3.6rem;
  }

  /* CONTACT PAGE  */
  .cta-box {
    padding: 0 3.6rem;
  }

  /* *************************** */
  /* BELOW 1200px (Landscape Tablets) */
  /* *************************** */
}

@media (max-width: 80em) {
  html {
    /* 8px / 16px = 0.5 = 50%*/
    font-size: 50%;
  }

  /* HOME PAGE */

  .hero {
    /* grid-template-columns: 2fr 1.5fr; */
    gap: 7rem;
  }

  /* ABOUT PAGE */
  .header-text-box {
    width: 70%;
  }

  /* CONTACT PAGE */
  .contact-detail {
    width: 90%;
  }
}

@media (max-width: 74em) {
  html {
    /* 7px / 16px = 0.5 = 50%*/
    font-size: 43.75%;
  }

  /* HOME PAGE */
  .career-box {
    font-size: 2rem;
  }

  .section-testimonial {
    padding: 4rem;
    width: 90%;
  }

  /* ABOUT US */

  .instructors-box {
    width: 90%;
  }
}

@media (max-width: 62em) {
  /* HOME PAGE  */
  .hero {
    gap: 0;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide the Navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it accessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    /* z-index: 1; */

    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
    /* z-index: 50; */
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  /* ALL COURSES PAGE */
  .carousel {
    grid-template-columns: repeat(4, 1fr);
    z-index: -1;
  }

  .card-5 {
    display: none;
  }

  .course-card-img {
    width: 100%;
    height: 14rem;
  }

  /* CONTACT PAGE */
  .contact-icon {
    position: relative;
    z-index: -1;
  }
  /* MY ACCOUNT PAGE */
  .profile-icon {
    position: relative;
    z-index: -1;
  }

  /* ABOUT PAGE */
  .our-story {
    width: 90%;
  }
}

@media (max-width: 57em) {
  /* INDEX PAGE */

  .sign-in-container {
    width: 70%;
  }

  /* HOME PAGE */
  .hero {
    grid-template-columns: 1fr;
  }

  .hero-text-box {
    max-width: 100%;
    text-align: center;
  }

  .hero-img-box {
    width: 70%;
    justify-self: center;
  }

  .few-courses {
    grid-template-columns: repeat(3, 1fr);
  }

  .few-courses-box p {
    font-size: 2.2rem;
  }

  .recent-course {
    grid-column: 1 / -1;
    text-align: center;
    width: 80%;
    justify-self: center;
    margin-bottom: 4.8rem;
  }

  .section-career {
    column-gap: 2rem;
  }

  .career-box {
    font-size: 1.6rem;
  }

  .career-icons {
    width: 24px;
    height: 24px;
  }

  .join-happy-student {
    width: 80%;
    justify-self: center;
  }

  /* ALL COURSES PAGE */
  .carousel {
    grid-template-columns: repeat(2, 1fr);
    z-index: -1;
  }
  .card-3 {
    display: none;
  }
  .card-4 {
    display: none;
  }

  .course-card-img {
    width: 100%;
    height: 80%;
  }

  /* ABOUT PAGE */

  .instructor-grid {
    grid-template-columns: 1fr;
  }
}

/* *************************** */
/* BELOW 710px (Smaller Tablets) */
/* *************************** */

@media (max-width: 48em) {
  /* INDEX PAGE */

  .sign-in-container {
    width: 80%;
  }

  /* CONTACT PAGE */
  .contact-detail {
    column-gap: 2rem;
  }

  .cta {
    column-gap: 4rem;
  }

  .cta-form {
    column-gap: 1.5rem;
  }
}

@media (max-width: 45em) {
  /* INDEX PAGE */

  .sign-in-container {
    width: 90%;
  }

  .primary-heading {
    font-size: 3rem;
  }

  .secondary-heading {
    font-size: 2rem;
  }

  /* CONTACT PAGE */
  .contacts {
    padding: 1rem 0;
  }

  .cta {
    grid-template-columns: 1fr;
    row-gap: 10rem;
  }

  .cta-comment {
    width: 70%;

    justify-self: center;
  }

  .btn-add-comment {
    /* margin-bottom: 4rem; */
    /* grid-column: span 2; */
    width: 46.4rem;
    justify-self: center;
  }

  /* ABOUT PAGE */
  .instructors-header {
    width: 90%;
  }

  /* PQ PAGE */
  .pq-form {
    display: grid;
    width: 60%;
  }
}

/* *************************** */
/* BELOW 544px (Responding to phones) */
/* *************************** */
@media (max-width: 34em) {
  html {
    /* 6px / 16px = 0.5 = 50%*/
    font-size: 37.5%;
  }

  /* INDEX PAGE */

  .sign-in-container {
    width: 110%;
  }

  .greeting-box p {
    font-size: 1.8rem;
  }

  /* HOME PAGE  */

  .main-header div {
    gap: 2rem;
  }

  .search-bar {
    width: 60%;
    font-size: 1.8rem;
  }

  .hero-img-box {
    width: 80%;
  }

  .section-career {
    grid-template-columns: 1fr;
    row-gap: 8rem;
  }

  .few-courses-box p {
    font-size: 1.8rem;
  }

  .testimonial-heading {
    margin-bottom: 5rem;
  }

  /* ABOUT PAGE */

  .founders-img-box {
    grid-template-columns: 1fr;
    row-gap: 5rem;
  }

  .cmo,
  .ceo {
    width: 60%;
    justify-self: center;
  }

  .founder-img {
    margin-bottom: 1rem;
  }

  .ceo {
    padding: 0;
  }

  .our-story {
    padding: 1rem 2rem;
  }

  /* CONTACT PAGE */

  .cta-form {
    grid-template-columns: 1fr;
  }

  .cta-msg {
    display: inline-block;
    flex-direction: column;
  }

  .btn-send-smg {
    /* margin-bottom: 4rem; */
    grid-column: 1;
    align-self: center;
  }

  .cta-comment {
    display: grid;
    width: 100%;
  }

  /* PQ PAGE */
  .pq-form {
    display: grid;
    width: 70%;
  }
}

/* *************************** */
/* BELOW 375px (Responding to Medium phones) */
/* *************************** */
@media (max-width: 24em) {
  html {
    /* 5px / 16px = 0.5 = 50%*/
    font-size: 31.25%;
  }

  /* HOME PAGE */
  .hero-img-box {
    width: 100%;
  }

  /* ABOUT PAGE */
  .instructor-card .instructor-detail {
    padding: 1rem 1rem;
  }

  /* PQ PAGE */
  .pq-form {
    display: grid;
    width: 100%;
  }
}

@media (max-width: 21em) {
  html {
    /* 4px / 16px = 0.25 = 25% */
    font-size: 25%;
  }
}
